img {
  border-radius: 15px;
}

.carousel.carousel-slider li.slide.selected {
  z-index: 0 !important;
  cursor: pointer;
}

.bio {
  background-color: rgba(0,  0, 0, .7);
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
}

.col-sm-4 p {
    margin-top: 10px;
    font-weight: bold;
}

.zoom {
  transform: scale(1.5);
  transition: transform 1s ease-in-out;
}

.zoomback {
  transform: scale(1);
  transition: transform 1s ease-in-out;
}

.legend {
  background-color:black !important;
  border-radius: 25%;
  box-shadow: 10px red !important;
  font-size: 2em !important;
}

#bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#bottom a {
    color: white;
}
